@charset "utf-8";

header .header_con{
    display:block;
}

header.m_header{
    display:none;
}

.title_num {
    display:none;
}

.m_delimg1 {
    display:none;
}



/* mobile */ 
@media screen and (max-width: 768px){


  .webp {
    display:none;
  }

  .mebp {
    display:block;
  }
  

    .inner {
        max-width:100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    header .header_con{
        display:none;
    }

    header.m_header{
        display:block;
    }

    footer {
        width:100%;
    }

    footer .footer_menu ul {
        width:100%;
        text-align:center;
    }
    footer .footer_menu li {
        float:none;
        padding: 0 20px 0 0;
        line-height: 58px;
        display:inline-block;
    }
    footer .footer_info {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 50px 0;
        box-sizing: border-box;
        display: flex;
    }
    footer .footer_info .f_logo {
        float: none;
        display:inline-block;
        width:32%;
        box-sizing: border-box;
        padding:20px 10px;
    }
    footer .footer_info .f_logo img {
        width:100%;
    }
    footer .footer_info .f_address {
        width:68%;
        float: none;
        display:inline-block;
        margin-left: 0px;
    }

    footer .footer_info .f_address li {font-size:12px;  font-family:'Noto Sans KR', sans-serif; font-weight:400; color:#777;}
    



    #wrap {
        position:relative;
        width:100%;
        min-width:100%;
    }
    .main_visual {
        position: relative;
        width: 100%;
        height: 100%;
        max-height:250px;
        background: url(../img/main_top.jpg) no-repeat;
        background-size: cover;
    }
    .main_visual .main_visual_text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .main_visual .main_visual_text h1 {
        font-size: 1.8em;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        color: #222;
        display:none;
      }
      
      .main_visual .main_visual_text h2 {
        font-size: 4.8em;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 600;
        color: #222;
        display:none;
      }
      .main_visual .main_visual_text p {
        font-size: 18px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 500;
        color: #222;
        text-align:center;
      }
      
      .main_visual .main_visual_text p::before {
        content: "";
        position: relative;
        width: 1px;
        height: 40px;
        background-color: #000;
        display: block;
        margin: 10px auto;
        display:none;
      }
    .main_visual .main_visual_menu {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0%);
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        background-color: rgba(134, 134, 134, 0.5);
    }
    .main_visual_menu li {
        width: 25%;
        float: left;
        padding: 10px 0;
    }
    .main_visual_menu .visual_menu h1 {
        color: #ffffff;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        padding-top: 0px;
    }
    .main_visual_menu .visual_menu p > img {
        width:40%;
    }

    .right_sidemenu {
        display:none;
    }

    .mid_section01 {
        margin-top:50px !important;
        height:330px;
    }

    .mid_banner01 {
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 20px 0 ;
      }
      .mid_titleimg > img {
          width:50%;
      }
      .mid_banner_text {
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        color: #222;
      }
      .mid_banner_text::before {
        content: "";
        position: relative;
        width: 1px;
        height: 30px;
        background-color: #000;
        display: block;
        margin: 20px 0;
      }
      
      .mid_banner_btn {
        position: relative;
        width: 100%;
        margin-top: 40px;
        padding: 0;
        display: flex;
      }
      .mid_banner_btn a {
        background-color: #005baa;
        color: #fff;
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        padding: 10px 20px;
      }
      .mid_banner02 h2 {
        font-size: 26px;
        color: #005baa;
        font-weight: 500;
        text-align: center;
    }
    .mid_banner02 h2::after {
        content: "";
        position: relative;
        width: 1px;
        height: 30px;
        background-color: #000;
        display: block;
        margin: 15px auto;
    }
      .mid_banner_text01 {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        color: #222;
    }

      .mid_banner02 ul {
        width: 100%;
        display: inline-table;
      }
      .mid_banner02 ul > li {
        width: 50%;
        float:none;
        display:inline-block;
        text-align: center;
        padding:10px;
      }
      .mid_banner02 li h3 {
        font-size: 20px;
        color: #222;
        font-weight: 400;
        padding-top: 20px;
      }

      .mid_banner02 li p > img {
          width:30%;
      }

      .mid_section03 {
        position: relative;
        width: 100%;
        height: auto;
        padding: 0;
        background: url("../img/midbg02.jpg") no-repeat;
        background-size: cover;
      }
      .mid_banner_text02 {
        position: relative;
        width: 100%;
        color: #fff;
        padding: 20px 0;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        box-sizing: border-box;
      }

      .mid_section04 {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        border-bottom: 1px solid #e8e8e8;
        box-sizing: border-box;
        padding: 30px 0;
    }
    .mid_banner_img01 {
        width: 100%;
    }
    .mid_banner_img01 img {
        width:100%;
    }


    .main_news {
        width: 100%;
        display: block;
        float: none;
        box-sizing: border-box;
        padding:10px;
      }
      .main_news_title {
        position: relative;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        box-sizing: border-box;
        padding-bottom: 10px;
      }
      .main_news_title h2 {
        font-size: 20px;
        color: #222;
        font-weight: 500;
      }
      .main_news_title span {
        position: absolute;
        top: 6px;
        right: 0;
      }
      
      .main_news_box {
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: 28px;
      }
      
      .main_news_box ul {
        width: 100%;
      }
      
      .main_news_box ul > li {
          width:100%;
      }
      .main_news_box ul > li:last-child {
          margin-right:0;
      }
      
      .news_box_item {
        width: 100%;
        height:40px;
      }
      .news_box_item .text {
        font-size: 14px;
        color: #222;
        font-weight: 400;
        line-height: 16px;
        width: 75%;
        overflow: hidden;
        display:inline-block;
        white-space: nowrap; 
        text-overflow: ellipsis;
      }
      .news_box_item .date {
        font-size: 14px;
        color: #999;
        font-weight: 400;
        text-align: left;
        display:inline-block;
        float:right;
      }
      
      .main_notice {
        width: 100%;
        display: block;
        float: none;
        box-sizing: border-box;
        padding:10px;
      }
      
      .main_notice_title {
        position: relative;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        box-sizing: border-box;
        padding-bottom: 10px;
      }
      .main_notice_title h2 {
        font-size: 20px;
        color: #222;
        font-weight: 500;
      }
      .main_notice_title span {
        position: absolute;
        top: 6px;
        right: 0;
      }
      
      .main_notice_box {
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: 28px;
      }
      .main_notice_box ul {
        width: 100%;
      }
      .main_notice_box ul > li {
        width:100%;
      }
      .main_notice_box ul > li:last-child {
          margin-right:0;
      }
      
      .notice_box_item {
        position: relative;
        width: 100%;
        height:40px;
      }
      
      .notice_box_item .text {
        font-size: 14px;
        color: #222;
        font-weight: 400;
        line-height: 20px;
        width: 75%;
        overflow: hidden;
        display:inline-block;
        white-space: nowrap; 
        text-overflow: ellipsis;
      }
      .notice_box_item .date {
        font-size: 14px;
        color: #999;
        font-weight: 400;
        text-align: left;
        display:inline-block;
        float:right;
      }
      



    /* 상단 메뉴  */
    #m_top_area{
        width: 100%; 
        height: 50px; 
        padding:10px; 
        box-sizing: border-box;
    }
    .m_left_area{
        float: left; 
        background: url("../img/m_menu.png") no-repeat center; 
        width: 40px; 
        height: 24px;
        background-size: 100%;
    }

    .loginbox {
        position:relative;
        width:100%;
        height:60px;
        color:#fff;
        border-bottom:1px solid #303030;
        padding:10px;
        box-sizing: border-box;
    }
    .loginbox li {
        display:inline-block;
        line-height:35px;
    }
    .loginid {
        color:#fff;
        font-size:18px;
        font-weight:400;
    }
    .logout {
        position:absolute;
        right:60px;

    }
    .mypage {
        font-size:14px;
        position:absolute;
        right:130px;
    }


    .loginbox a {
        color:#fff;
    }


    #m_menu_wrap{
        display: block;
        position: fixed; 
        width: 300px; 
        height: 100%; 
        top: 0; 
        left: -500px; 
        z-index: 9999; 
        background-color: #000;
        overflow: hidden auto;
    }
    #m_menu_wrap > div#menu{
        position: relative; 
        height: 100%; 
        overflow: hidden auto;
        overflow-y: auto;
    }
    .close {
        position: absolute;
        right: 10px;
        top: 15px;
        width: 30px;
        height: 24px;
        opacity: 0.3;
    }
    .close:hover {
        opacity: 1;
    }
    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 24px;
        width: 2px;
        background-color: #fff;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }

    #m_menu_wrap #m_menu{
        margin-top:30px;
    }
    #m_menu_wrap #m_menu > li{
    }
    #m_menu_wrap #m_menu > li > a{
        position: relative; 
        display: block; 
        padding: 10px; 
        color: #fff; 
        font-size: 16px; 
        font-weight:500; 
    }
    #m_menu_wrap #m_menu > li > a:after{
        display: block; 
        position: absolute; 
        right: 30px; 
        top: 50%; 
        margin-top: -5px; 
        width: 16px; 
        height: 10px; 

    }
    #m_menu_wrap #m_menu ul.mb_sub_menu{
        display:none;
    }

    .mb_sub_menu > li > a {
        font-size:14px;
        font-weight:400;
        color:#fff;
        padding:0px 10px;
        line-height: 30px;
        box-sizing: border-box;
    }
 
    .bg_shadow{display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9998; background: rgba(0,0,0,0.7); width: 100%; height: 100%;}
    
    .logo{
        width:auto; 
        margin:0 auto; 
        padding:0; 
    }
    .logo > a{
        display: block; 
        margin: 0 auto; 
        background: url("../img/hosko_logo_wh.png") no-repeat; 
        width: 70px; 
        height: 36px; 
        background-size: 100%;
    }
        
    .m_right_area{float: right; position:absolute; top:12px; right:10px; cursor:pointer;}
    a.tel{float: left; display: block; background: url("../img/top_tel.png") no-repeat center; width: 26px; height: 26px; background-size: 100%;margin-right: 10px;}   
    a.talk{float: left; display: block; background: url("../img/kakao_icon.png") no-repeat center; width: 26px; height: 26px; background-size: 100%; }   



    .layout_sub {
        position: relative;
      }
      .sub_visual {
        position: relative;
        width: 100%;
        height: 220px;
      }
      .sub_visual .sub_visual_text {
        position: absolute;
        width:100%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .sub_visual .sub_visual_text h1 {
        font-size: 24px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        color: #fff;
      }
      .sub_visual .sub_visual_text p {
        font-size: 16px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 500;
        color: #fff;
      }
      .sub_visual .sub_visual_text p::before {
        content: "";
        position: relative;
        width: 1px;
        height: 20px;
        background-color: #fff;
        display: block;
        margin: 15px auto;
      }



      .sub_contents {
        position: relative;
        width: 100%;
        min-width: 100%;
        margin: 0 auto;
      }
      .sub_contents .sub_category {
        width: 100%;
        height: auto;
        border-bottom: 0px
      }
      .sub_contents .sub_category ul {
        width: 100%;
        margin: 0 auto;
        display: table;
      }
      .sub_contents .sub_category ul li {
        width: 33.333%;
        float: none;
        height:50px;
        line-height: 50px;
        text-align: center;
        font-size: 13px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        display: inline-block;
        border-bottom: 1px solid #e5e5e5;
      }
      .sub_contents .sub_category .on {
        border-bottom: 2px solid #005baa;
      }
      .sub_contents .sub_category .on a {
        color: #005baa;
        font-weight: 500;
      }
      .sub_contents .sub_category a {
        color: #222;
      }
      
      .sub_contents .sub_category01 {
        width: 100%;
        height: auto;
        border-bottom: 0px
      }

      .sub_contents .sub_category01 ul {
        width: 100%;
        margin: 0 auto;
        display: table;
      }

      .sub_contents .sub_category01 ul li {
        width: 33.333%;
        float: none;
        height:50px;
        line-height: 50px;
        text-align: center;
        font-size: 13px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        display: inline-block;
        border-bottom: 1px solid #e5e5e5;
      }

      .sub_contents .sub_category01 .on {
        border-bottom: 2px solid #005baa;
      }
      .sub_contents .sub_category01 .on a {
        color: #005baa;
        font-weight: 500;
      }
      .sub_contents .sub_category01 a {
        color: #222;
      }
      
      .sub_contents .sub_category02 {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #e5e5e5;
      }
      .sub_contents .sub_category02 ul {
        width: 100%;
        margin: 0 auto;
        display: table;
      }
      .sub_contents .sub_category02 ul li {
        width: 50%;
        float: left;
        height:50px;
        line-height: 50px;
        text-align: center;
        font-size: 13px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        display: table-cell;
      }
      .sub_contents .sub_category02 .on {
        border-bottom: 2px solid #005baa;
      }
      .sub_contents .sub_category02 .on a {
        color: #005baa;
        font-weight: 500;
      }
      .sub_contents .sub_category02 a {
        color: #222;
      }
      
      
      .sub_contents .sub_category03 {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #e5e5e5;
      }
      .sub_contents .sub_category03 ul {
        width: 100%;
        margin: 0 auto;
        display: table;
      }
      .sub_contents .sub_category03 ul li {
        width: 33.333%;
        float: left;
        height:50px;
        line-height: 50px;
        text-align: center;
        font-size: 13px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        display: table-cell;
      }
      .sub_contents .sub_category03 .on {
        border-bottom: 2px solid #005baa;
      }
      .sub_contents .sub_category03 .on a {
        color: #005baa;
        font-weight: 500;
      }
      .sub_contents .sub_category03 a {
        color: #222;
      }


    .subTit {
        margin: 20px auto 30px;
        text-align: center;
    }
    .subTit h2 {
        position: relative;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.59;
        letter-spacing: 1.4px;
        color: #222;
      }
    .subContImg {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .subContImg img {
        width:100%;
    }

    .subContImg01 img {
        width:100%;
    }

    .company_history {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0;
      }
      
      .company_contact {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0;
      }
      
      .company_ceo {
        position:relative;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background: url("../img/company_img01.jpg") no-repeat;
        background-size: 100% auto;
        margin-bottom:130px;
      }
      
      .company_word {
        position:relative;
        top:215px;
        right:0;
        background-color:#f7f8f8;
        width:100%;
        height:auto;
        text-align:left;
        box-sizing: border-box;
        padding:15px 20px;
      }
      .company_word h2 {
        font-weight:500;
        font-size:22px;
        color:#202020;
        margin-bottom:10px;
      }
      .company_word h3 {
        font-weight:500;
        font-size:18px;
        color:#202020;
      }
      .company_word p {
        font-weight:400;
        font-size:14px;
        color:#444444;
        padding:5px 0;
        letter-spacing:-0.8px;
      }
      
      
    /* 대표이사 약력 */
    .introduce_cont {
    position:relative;
    width:100%;
    padding:0;
    margin:0 auto;
    }
    .his_tit > span {display:inline-block;color:#014099;vertical-align:top;/*background:linear-gradient(to right, #014099, #2196f3);-webkit-background-clip:text;-webkit-text-fill-color: transparent;*/}
    .his_sec {position:relative;box-sizing:border-box;}
    .his_sec:after {content:"";position:absolute;left:50%;top:0;bottom:0;width:1px;height:100%;background:#e5e5e5;z-index:-1;}
    .his_info:after {content:"";display:block;clear:both;}
    .his_info > li {position:relative;float:right;width:50%;margin:50px 0 0 50%;padding-left:20px;font-size:18px;font-weight:300;line-height:20px;box-sizing:border-box;}
    .his_info > li:first-child {margin:0 0 0 50%;}
    .his_info > li:before {content:"";position:absolute;left:-8px;top:4px;width:14px;height:14px;background-color:#095fa9; border-radius: 40px;}
    .his_info > li > span {font-weight:700;color:#202020; font-size:16px;}
    .his_info > li > p {font-weight:400;color:#777778;display:block; padding:10px 0; font-size:12px;}
    .his_info > li:nth-child(even) {float:left;margin-left:0;margin-right:50%;padding:0 20px 0 0;text-align:right;}
    .his_info > li:nth-child(even):before {left:auto;right:-8px;}
    .his_info > li:nth-child(even) > span {left:auto;right:60px;}
    .his_info > li:nth-child(even) .img {margin:20px -60px 0 0;}
    


/* 로그인 */
.loginWrap {
    position: relative;
    width: 100%;
    height: auto;
    min-height: auto;
    margin: 0 auto;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
  }
  .loginContentTop {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
  }
  .loginContentTop h2 {
    color: #222;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0;
  }
  .loginContentTop h2 span {
    font-size: 24px;
    font-weight: 400;
  }
  .loginContentTop h3 {
    color: #055ca9;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  .loginContentTop p {
    color: #777777;
    font-size: 15px;
    font-weight: 400;
  }
  
  .loginContent {
    position: relative;
    width: 100%;
    margin-bottom:30px;
    padding-top: 30px;
  }
  .loginContent .loginBox {
    position: relative;
    width: 100%;
    height: 380px;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
  }
  
  .loginBox .loginBoxform {
    width: 100%;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
  }
  .loginBox .loginBoxform h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #222222;
    padding: 10px 0;
  }
  .loginBox .loginBoxform p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #999999;
    padding-bottom: 15px;
  }
  .loginBox .loginBoxform .loginBtn {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding-top: 10px;
  }
  .loginBox .loginBoxform .loginBtn a {
    width: 100%;
    height: 50px;
    background-color: #055ca9;
    color: #fff;
    display: inline-block;
    line-height: 50px;
  }
  .loginBox .loginBoxbg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 418px;
    background: url("../img/loginbox_bg.jpg") no-repeat;
    display: none;
  }
  .loginBox .loginBoxform .idpw {
    font-size: 15px;
    font-weight: 500;
    padding-left: 33px;
    padding-top: 30px;
  }
  .loginBox .loginBoxform .idpw a {
    font-size: 15px;
    font-weight: 500;
    color: #5f5f5f;
  }
  .loginBox .loginBoxform .memberjoin {
    font-size: 16px;
    font-weight: 500;
    padding-right: 33px;
    padding-top: 30px;
  }
  .loginBox .loginBoxform .memberjoin a {
    font-size: 15px;
    font-weight: 500;
    color: #5f5f5f;
  }
  .loginBox .loginBoxform input {
      width:100%;
      color:#222;
  }


/* 회원 가입 */
.joinWrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    padding-bottom: 80px;
  }
  .joinContentTop {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
  }
  .joinContentTop h2 {
    color: #222;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
  }
  .joinContentTop h3 {
    color: #055ca9;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  .joinContentTop p {
    color: #777777;
    font-size: 16px;
    font-weight: 400;
  }
  
  .joinContent {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
  }
  .joinStep {
    position: relative;
    width: 100%;
    display: block;
  }
  .joinStep ul {
    width: 100%;
    display: inline-block;
  }
  .joinStep ul > li {
    float: left;
    width: 33.33%;
    text-align: center;
  }
  .joinStep ul > li img {
    width:100%;
  }
  
  .agreeTextBox {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    padding: 15px;
    box-sizing: border-box;
  }
  
  .agreeTextBox p {
    font-size: 14px;
    font-weight: 400;
    color: #222;
  }
  
  .agreecboxwrap {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  .agreebox_top {
    width: 100%;
    display: inline-block;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 10px;
    box-sizing: border-box;
    font-size:14px;
    font-weight:400;
  }
  .agreebox_con {
    position: relative;
    width: 100%;
  }
  .agreebox_con textarea {
    width: 100%;
    height: 180px;
    resize: none;
    border: 1px solid #e5e5e5;
    padding: 10px;
    box-sizing: border-box;
    font-size:14px;
    font-weight:400;
  }
  
  .memberBtn {
    position: relative;
    width: 100%;
    display: inline-block;
  }
  .memberBtnOk {
    display: inline-block;
    color: #fff;
    background-color: #055ca9;
    border: 1px solid #055ca9;
    box-sizing: border-box;
    font-size: 14px;
    font-weight:400;
    width:100px;
    height:38px;
  }
  
  .memberBtnCancel {
    display: inline-block;
    color: #055ca9;
    background-color: #fff;
    border: 1px solid #055ca9;
    box-sizing: border-box;
    font-size: 14px;
    font-weight:400;
    width:100px;
    height:38px;  
  }
  
  .memberJoinBox {
    position: relative;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 20px 10px;
    box-sizing: border-box;
  }
  .memberJoinBox h2 {
    font-size: 18px;
    font-weight: 500;
    color: #222;
    display: block;
  }
  
  .joinBoxTitle {
    font-size: 14px;
    color: #222;
    font-weight: 500;
    display: block;
  }
  .joinBoxInput {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
  }
  .joinBoxInput input {
    width: 75% !important;
    padding: 6px;
    border: 1px solid #e5e5e5;
    font-size:12px;
    font-weight:400;
  }
  
  .joinBoxRadio {
    position: relative;
    width: 100%;
    font-size: 13px;
    color: #222;
    margin-top: 10px;
    line-height: 17px;
  }
  .joinBoxRadio input {
    vertical-align: top;
  }
  .joinBoxRadio label {
    font-size: 13px;
    font-weight: 500;
    margin-right: 6px;
  }
  
  .joinBoxEtc {
    position: relative;
    width: 100%;
    font-size: 16px;
    color: #222;
    margin-top: 10px;
    line-height: 17px;
  }
  .joinSubEtcTitle {
    color: #055ca9;
    font-size: 16px;
    font-weight: 500;
    width: 60px;
    display: inline-block;
  }
  
  .joinBoxEtcSelect {
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: inline-block;
  }
  .joinBoxEtcSelect input {
    width: 74%;
    padding: 6px;
    border: 1px solid #e5e5e5;
  }
  .joinBoxEtcSelect select {
    width: 25%;
    padding: 9px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
  }
  
  /* join input */
  .fileInputWrap {
    position: relative;
    width: 100%;
  }
  .fileInputWrap input#webThumb {
    float: left;
    padding: 6px;
    width: 75%;
    border: 1px solid #e5e5e5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .fileInputWrap div.btnFlieWrap {
    position: relative;
    float: right;
    width: 15%;
  }
  .fileInputWrap div.btnFlieWrap input {
    position: absolute;
    left: -30px;
    top: 0;
    width: 80px !important;
    height: 33px;
    display: block;
    background-color: #fff;
    font-size: 14px;
    line-height: 16px;
    color: #055ca9;
    text-align: center;
    border: 1px solid #055ca9;
    cursor: pointer;
  }
  .fileInputWrap div.btnFlieWrap input[type="file"] {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .fileInputWrap div.btnFlieWrap input::-webkit-file-upload-button {
    cursor: pointer;
  }
  
  .joinBoxEmail {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .emailInput {
    width: 30.5%;
    padding: 6px;
    border: 1px solid #e5e5e5;
  }
  .emailSelect {
    width: 32%;
    padding: 6px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    height:35px;
  }
  
  .joinEmailText {
    font-size: 12px;
    font-weight: 400;
    color: #055ca9;
    text-align: right;
    padding-top: 10px;
  }
  
  .joinBoxPhone {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .phoneInput {
    width: 31%;
    padding: 6px;
    border: 1px solid #e5e5e5;
  }
  
  .joinBoxSelect {
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: inline-block;
  }
  .joinBoxSelect input {
    width: 74%;
    padding: 6px;
    border: 1px solid #e5e5e5;
  }
  .joinBoxSelect select {
    width: 28%;
    padding: 6px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
  }
  
  .joinBoxAdress {
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }
  .adressInput {
    width: 38%;
    padding: 6px;
    border: 1px solid #e5e5e5;
  }
  
  .joinBtn01 {
    font-size: 14px;
    height: 33px;
    text-align: center;
    padding: 4px 10px;
    border: 1px solid #055ca9;
    background-color: #ffffff;
    color: #055ca9;
    display: inline-block;
    float: right;
    font-weight:400;
  }
  .joinSubTitle {
    color: #055ca9;
    font-size: 16px;
    font-weight: 500;
    width: 60px;
    display: block;
  }
  .joinBoxSubInput {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 6px;
    margin-top:10px;
    border: 1px solid #e5e5e5;
  }
  
  .joinBoxCheckbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: inline-block;
  }
  .joinBoxCheckbox ul {
    width: 100%;
    height: 32px;
  }
  .joinBoxCheckbox li {
    float: left;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    margin-right: 10px;
  }
  .joinBoxCheckbox .TextInput {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height:33px;
    padding: 6px;
    border: 1px solid #e5e5e5;
  }
  
  .joinBoxComplete {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .joinBoxEnd {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .joinBoxEnd p {
    padding: 30px 0;
  }
  .joinBoxEnd h2 {
    font-size: 24px;
    font-weight: 500;
    color: #222;
  }
  .joinBoxEnd h3 {
    font-size: 16px;
    font-weight: 500;
    color: #222;
  }


/* 아이디 비밀번호 찾기 */
.loginContent .inquiryBox {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
  }
  .inquiryBox .inquiryBoxform {
    width: 100%;
    height:auto;
    box-sizing: border-box;
    text-align: center;
    padding: 15px 20px;
  }
  .inquiryBox .inquiryBoxform h2 {
    font-size: 24px;
    font-weight: 400;
    color: #055ca9;
    padding-top: 10px;
  }
  
  .inquiryBox .inquiryBoxform .inquirymenu {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
  }
  .inquiryBox .inquiryBoxform .inquirymenu ul {
    width: 100%;
    display: inline-block;
  }
  .inquiryBox .inquiryBoxform .inquirymenu li {
    background-color: #fff;
    color: #fff;
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #055ca9;
  }
  .inquiryBox .inquiryBoxform .inquirymenu li.on {
    background-color: #055ca9;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  .inquiryBox .inquiryBoxform .inquirymenu li a {
    color: #055ca9;
    font-size: 14px;
    font-weight: 400;
  }
  
  .inquiryDbox {
    position: relative;
    width: 100%;
    padding-top: 10px !important;
    clear: both;
    margin: 0 auto;
  }
  .inquiryDbox label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #9e9e9e;
    text-align: left;
  }
  
  .inquiryBtn {
    position: relative;
    width: 100%;
    padding-top: 20px;
  }
  .inquiryBtn a {
    width: 100%;
    background-color: #055ca9;
    color: #fff;
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .inquiryBoxform p {
      padding-top:0px !important;
      font-size:13px;
      font-weight:400;
  }


/* 동영상 게시판 */
.movieBoardList {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .movieBoardList ul {
    width: 100%;
    overflow: hidden;
    padding: 0;
    display: block;
  }
  .movieBoardList li {
    position: relative;
    width: calc(48%);
    height: 358px;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
    box-sizing: border-box;
    float: left;
  }
  .movieBoardList li a {
    display: block;
    height: calc(100% - 2px);
    color: #454545;
    font-size: 14px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  .movieBoardList li:nth-child(1) {
    margin-left: 0;
  }
  .movieBoardList li:nth-child(3) {
    margin-left: 0;
  }
  .movieBoardList li:nth-child(5) {
    margin-left: 0;
  }

  .movieBoardList .movieBox {
    position: relative;
    width: 100%;
  }
  .movieBox .movieTopph {
    position: relative;
    width: 100%;
  }
  .movieBox .movieTopph img {
    width: 100%;
  }
  .movieTopph .movieNumber {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #005baa;
    color: #fff;
    text-align: center;
    line-height: 40px;
  }
  .movieBox .movieCon {
    position: relative;
    width: 100%;
    height: 155px;
    font-family: "Noto Sans KR", sans-serif;
  }
  .movieCon .description {
    font-size: 13px;
    font-weight: 500;
    padding: 10px;
    height: 85px;
    overflow:hidden;
  
  }
  .movieCon .name {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
  }
  .movieCon .movieConfoot {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f7f7f7;
  }
  
  .movieConfoot .date {
    float: left;
    margin-left: 5px;
  }
  .movieConfoot .hit {
    float: right;
    margin-right: 5px;
  }
  
  .movieBoardView {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .movieBoardView .movieViewCon {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }


/* 갤러리 게시판 */
.galleryBoardList {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .galleryBoardList ul {
    width: 100%;
    overflow: hidden;
    padding: 0;
    display: block;
  }
  .galleryBoardList li {
    position: relative;
    width: calc(48%);
    height: 358px;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
    box-sizing: border-box;
    float: left;
  }
  .galleryBoardList li a {
    display: block;
    height: calc(100% - 2px);
    color: #454545;
    font-size: 14px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  .galleryBoardList li:nth-child(1) {
    margin-left: 0;
  }
  .galleryBoardList li:nth-child(3) {
    margin-left: 0;
  }
  .galleryBoardList li:nth-child(5) {
    margin-left: 0;
  }
  
  .galleryBoardList .galleryBox {
    position: relative;
    width: 100%;
  }
  .galleryBox .galleryTopph {
    position: relative;
    width: 100%;
  }
  .galleryBox .galleryTopph img {
    width: 100%;
  }
  .galleryTopph .galleryNumber {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #005baa;
    color: #fff;
    text-align: center;
    line-height: 40px;
  }
  .galleryBox .galleryCon {
    position: relative;
    width: 100%;
    height: 155px;
    font-family: "Noto Sans KR", sans-serif;
  }
  .galleryCon .description {
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    height: 85px;
    overflow:hidden;
  }
  .galleryCon .galleryConfoot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f7f7f7;
  }
  
  .galleryConfoot .date {
    float: left;
    margin-left: 5px;
  }
  
  .galleryBoardView {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .galleryBoardView .galleryViewCon {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }




  .boardSearchWrap {position:relative; width:100%; margin:30px auto 60px auto; padding:0; text-align:center;}
  .boardSearchWrap .boardSearch {display: inline-block;vertical-align: top;padding-left: 99px;position: relative;}
  .boardSearchWrap .boardSearch select {left: 0;top: 0;position: absolute;display: block;width: 100px;height: 30px;border: 1px solid #cfcfcf;font-size: 14px;background-color: #fff;color: #999;padding: 0 18px 0 10px;box-sizing:border-box;border-radius: 5px 0 0 5px;}
  .boardSearchWrap .boardSearch .inputSearch {position: relative;}
  .boardSearchWrap .boardSearch .inputSearch input[type="text"] {color: #999;padding: 0 14px;padding-right: 40px;border: 1px solid #cfcfcf;box-sizing:border-box;display: block;width: 100%;height: 30px;    border-radius: 0 5px 5px 0;}
  .boardSearchWrap .boardSearch .inputSearch input[type="submit"] {display: block;position: absolute;width: 20px;height: 20px;background-color: transparent;background-image: url("../img/icon_search.png");background-repeat: no-repeat;background-position: center center;right: 6px;top: 6px;border: none;} 




  .type_table {position: relative;border-top: 1px solid #005baa; }
  .type_table > div {position: relative;font-size: 0;border-bottom: 1px solid #dcdcdc;display: flex;}
  .type_table > div.col3 .boardViewTop_item{width: 33.33333%;}
  .type_table > div .boardViewTop_item {position: relative;width: 100%;display: flex;box-sizing:border-box;vertical-align: top;font-size: 15px;line-height: 30px;}
  .type_table > div .boardViewTop_item strong {width:50%;}
  .type_table > div .boardViewTop_item .type_td {flex:1;min-width:0}
  .type_table > div .boardViewTop_item > * {height: 100%;font-size:14px;font-weight:500;padding: 8px 5px;letter-spacing: -0.8px;box-sizing:border-box;line-height: 22px;min-height:62px;-ms-word-break: break-all;word-break: break-all;display: flex;align-items:center;}
  
  .type_table01 {position: relative; border:1px solid #e5e5e5;}
  .type_table01 > div {position: relative;font-size: 0;border-bottom: 1px solid #dcdcdc;display: flex;}
  .type_table01 > div.col3 .boardViewTop_item{width: 33.33333%;}
  .type_table01 > div .boardViewTop_item {position: relative;width: 100%;display: flex;box-sizing:border-box;vertical-align: top;font-size: 15px;line-height: 30px;}
  .type_table01 > div .boardViewTop_item .type_td {flex:1;min-width:0}
  .type_table01 > div .boardViewTop_item > * {height: 100%;padding: 8px 20px;letter-spacing: -0.8px;box-sizing:border-box;line-height: 22px;min-height:50px;-ms-word-break: break-all; word-break: break-all;display: flex;align-items:center}
  .type_table01 > div .boardViewTop_item strong {width:15%; background-color:#f9f5f2; font-size:16px; font-weight:500; color:#2f2f2e; }
  .type_table01 > div .boardViewTop_item .type_td input {font-size:15px; font-weight:500;}
  .type_table01 > div .boardViewTop_item .type_td select {font-size:15px; font-weight:500;}
  .type_table01 > div .boardViewTop_item .type_td p {font-size:15px; font-weight:500;}
  .type_table01 > div.npbd {border:0 !important;}
  

/* table apply */
.tableCont01 {width:100%; border-top: 1px solid #005baa; border-bottom: 1px solid #e5e5e5; margin: 0; font-size:14px;  font-family:'Noto Sans KR', sans-serif; font-weight:400;}
.tableCont01 thead th { border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;vertical-align: middle; background-color:#f7f7f7; height:60px;}
.tableCont01 thead th:last-child {border-right:0; }
.tableCont01 th, .tableCont01 td {padding: .556rem;height: 4.444rem;vertical-align: middle; text-align:center;}
.tableCont01 tbody td {height:40px; line-height:30px; font-size:14px;color:#222222; }
.tableCont01 td a {color:#222222; font-weight:400; display:inline-block;}
.tableCont01 .table_tit {width:20%;color:#848585; text-align:left; padding-left:15px;}
.tableCont01 .table_con {color:#424242; text-align:left; padding-left:15px;}

.tblArea {border-top: 2px solid #005baa;}
.tblArea .tblTop, .tblArea .tblBot-item {display: table;width: 100%;}
.tblArea .tblTop > span, .tblArea .tblBot-item > span {display: table-cell;text-align: center;padding: 5px 5px; font-size: 14px;font-weight: 300;vertical-align: middle;box-sizing:border-box;}
.tblArea .tblBot-item > span {font-size:14px;  font-family:'Noto Sans KR', sans-serif; font-weight:400;}
.tblArea .tblTop {background-color: #f5f5f5;}
.tblArea .tblTop span {font-weight:500;border-bottom: 1px solid #dcdcdc;}
.tblBot-item {border-bottom: 1px solid #dcdcdc;}


.boardList_flex .col_num {width: 11%;}
.boardList_flex .col_tit {width: 45%;}
.boardList_flex .col_name {width: 15%;}
.boardList_flex .col_hit {width: 15%;}
.boardList_flex .col_date {width: 15%;}
.boardList_flex .tblBot-item .col_tit {text-align: left; }
.boardList_flex .tblBot-item .col_tit:hover {text-decoration:none;}
.boardList_flex .tblBot-item .col_tit img {position:relative; top:3px; width:26px !important; height:15px !important;}
  .subContSec + .subContSec {
    padding-top: 50px;
  }


/* 인턴쉽 */
.recruit_detail {position: relative; width:100%; margin:0;}
.recruit_detail .page_tab_title {width:100%; border-bottom:2px solid #212020; }
.recruit_detail .tab_title_text {background-color:#065da8; color:#fff; text-align:center; width:200px; height:50px; line-height:50px; font-size:16px; font-weight:400;}
.recruit_detail .detail_view {position:relative; width:100%; padding:15px 0; text-align:center; font-size:14px; font-weight:500;}
.recruit_detail .detail_view p > img {width:100% !important;}
.recruit_detail .detail_view p > font > img {width:100% !important;}

.detail_footer {text-align:right; display:block; margin-top:20px;}
.detail_footer .recruit_btn01 {width:100px; height:38px; background-color:#0c5ea9; color:#fff; line-height:38px; font-weight:400; }
.detail_footer .recruit_btn01 a {color:#fff; font-size:14px; font-weight:400; padding: 8px 24px;}
.detail_footer .recruit_btn02 {width:100px; height:38px; background-color:#e5e5e5; color:#444444; line-height:38px; font-weight:400;}
.detail_footer .recruit_btn02 a {color:#444; font-size:14px; font-weight:400; padding: 8px 24px;}




.recuit_img {width:136px; height:73px; overflow:hidden;}
.recuit_img img {width:100%;}

.RecruitTitle {
  position:relative;
  width:100%;
  border-top:1px solid #e5e5e5;
  padding-top:50px;
  padding-bottom:20px;
}
.RecruitTitle h2 {
  font-size:20px;
  font-weight:500;
  color:#222;
}


.recruitfile {
  display: inline-block;
  position:relative;
  width:100%;
}
.recruitfile [type="file"] { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip: rect(0, 0, 0, 0); 
  border: 0 none; 
}
.recruitfile .filelabel { 
  display: inline-block; 
  width:90px; 
  height: 30px; 
  line-height: 30px; 
  padding: 0 10px; 
  border-radius: 2px; 
  font-size: 13px; 
  background-color: #3872b3; 
  color: #fff; 
  text-align: center; 
} 
.recruitfile .filename { 
  width: 300px; 
  background: #fff; 
  height: 30px; 
  line-height: 30px; 
  text-indent: 5px; 
  border: 1px solid #ccc; 
  margin-bottom:0 !important;
}

.recruitfile .filetitle {
  font-size:15px;
  font-weight:500;
  color:#222;
  padding-right:10px;
  vertical-align: middle;
}




/* 마이페이지 */
.ResumeWrap {
    position: relative;
    width:100%;
    height:auto;
    margin:0 auto;
  }
  .resume_img_frame {
    position:relative;
    width:170px;
    height:220px;
    border-radius:5px; 
    border:1px solid #9a9a9a;
    overflow:hidden;
    margin:0 auto;
    
  }
  .resume_img_frame img {
    width:100%;
  }
  
  .resumefile {
    display: inline-block;
    position:relative;
    width:100%;
    margin:30px auto;
    text-align:center;
  }
  .resumefile [type="file"] { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip: rect(0, 0, 0, 0); 
    border: 0 none; 
  }
  .resumefile .filelabel { 
    display: inline-block; 
    width:90px; 
    height: 30px; 
    line-height: 30px; 
    padding: 0 10px; 
    border-radius: 2px; 
    font-size: 13px; 
    background-color: #3872b3; 
    color: #fff; 
    text-align: center; 
  } 
  .resumefile .filename { 
    width: 220px; 
    background: #fff; 
    height: 30px; 
    line-height: 30px; 
    text-indent: 5px; 
    border: 1px solid #8c8c8c; 
    margin-bottom:0 !important;
  }
  
  .resumefile .filetitle {
    font-size:15px;
    font-weight:500;
    color:#222;
    padding-right:10px;
    vertical-align: middle;
  }
  
  .ResumeCont {
    width:100%;
    border:1px solid #8c8c8c;
    margin:0 auto;
    box-sizing: border-box;
    padding:20px 20px;
  }
  
  .resumetext01 {
    font-size:15px;
    font-weight:500;
    color:#055ca9;
    margin-bottom:20px;
  }
  .resumetitle {
    position:relative;
    width:100%;
  }

  .resumetitle h2 {
    font-size:18px;
    font-weight:500;
    color:#383838;
    margin:30px 0 20px 0;
  }
  
  .resume_zip_form {
    width:120px;
    display:inline-block;
  }
  .resume_zip_btn {
    padding-left:10px;
    display:inline-block;
  }
  .resume_activity_box {
    float: left;
    margin-left: 5px;
  }
  .resume_activity_box input, select{
    font-size:12px;
    font-weight:400;
    color:#383838;
  }
  .resumeAcbox {
    position:relative;
    width:100%;
  }
  .resumeBox {
    position:relative;
    width:100%;
  }
  .resumeinputbox {
    display:inline-block;
  
  }
  .resumeJoinBox {
    position: relative;
    width: 100%;
    height: auto !important;
    border: 0 !important;
    padding:0 !important;
    box-sizing: border-box;
    margin-bottom: 0 !important;
    display: inline-block;
  }
  
  .resumeBox_label {
    margin-bottom:0 !important;
    position:relative;
    width:100%;
    display:inline-block;
    padding-bottom:10px;
  }
  .resumeBox_label > div {
    font-size:15px;
    font-weight:500;
  
  }
  
  .resumebtnwrap {
    position:relative;
    width:100%;
    margin:60px auto;
    text-align:center;
  
  }
  .resumebtnwrap .resumebtn {
    background-color:#055ca9;
    width:150px;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#fff;
    font-size:14px;
    font-weight:400;
    border:0;
  }
  .resumebtnwrap .resumebtn01 {
    background-color:#e5e5e5;
    width:150px;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#222;
    font-size:14px;
    font-weight:400;
    border:0;
  }
  
  
  .ContTopresumeBtn {
    position:relative;
    width:100%;
    text-align:right;
    margin-top:30px;
    padding-bottom:30px;
    border-bottom:1px solid #c1c1c1;
  }
  .resumadminbtn { 
    border:1px solid #f3f3f3;
    color:#222;
    font-size:15px;
    font-weight:500;
    text-align:center;
    width:120px;
    height:40px;
    background-color:#fff;
  }
  .resumadminbtn01 { 
    border:1px solid #f3f3f3;
    color:#fff;
    font-size:14px;
    font-weight:500;
    text-align:center;
    width:120px;
    height:40px;
    background-color:#0c5ea8;
  }
  .resumetoptext {
    position:relative;
    width:100%;
    text-align:left;
    padding-top:20px;
  }
  .resumetoptext p {
    color:#0c5ea8;
    font-size:13px;
    font-weight:400;
  }


  .ResumeTable {
    position:relative;
    width:100%;
}
.ResumeTable th {
    font-size:15px;
    font-weight:500;
    color:#383838;
    padding:20px 0;
    height:30px;
}
.ResumeTable tr {
    height:50px;
}
.ResumeTable td  {
    vertical-align: middle;
}
.ResumeTable td input{
    margin-bottom:0;
}

.resumeform {
    display:inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight:400;
    line-height: 1.42857143;
    color: #848484;
    background-color: #fff;
    border: 1px solid #ccc;
}

.resumemanagertable {
    position:relative;
    width:100%;
    border:1px solid #e5e5e5;
}
.resumemanagertable th {
    font-size:13px !important;
    font-weight:500;
    color:#222222;
    text-align:left;
    padding-left:4px !important;
    box-sizing: border-box;
    border:1px solid #e5e5e5;
    height:70px;
    line-height:14px;
    vertical-align: middle;
}
.resumemanagertable td {
    border:1px solid #e5e5e5;
    font-size:13px;
    font-weight:500;
    text-align:left;
    padding-left:4px !important;
    color:#f30100;
    height:70px;
    line-height:14px;
    vertical-align: middle;
}

.managertabletitle {
    font-size:16px !important;
    font-weight:500;
}
.managercolor01 {
    color:#222 !important;
}
.managercolor02 {
    color:#f30100;
}
.languangeText {
    font-size:16px;
    font-weight:500;
    border-bottom:1px solid #4f4f4f;

}



  /* 제출서류 관리 */
  .MissionDocCont {
    position:relative;
    width:100%;
    border-bottom:1px solid #c8c8c8;
    margin-top:30px !important;
    padding-top:30px !important;
  }

  .MissionDocTitle {
    width:100%;
    text-align:center;
  }
  .MissionDocTitle h2 {
    display:inline-block;
    font-size:24px;
    font-weight:500;
    color:#202020;
    padding-bottom:10px;
    border-bottom:2px solid #0c5ea9;
  }
  .MissionDocTitle h3 {
    display:inline-block;
    font-size:18px;
    font-weight:500;
    color:#202020;
    padding-bottom:10px;
  }
  
  .MissionDocimg {
    position:relative;
    width:100%;
    text-align:center
  }
    .MissionDocimg img {
        width:100%;
    }
  
  .MissionTableWrap {
    position:relative;
    width:100%;
    padding-top:60px;
  }
  
  .MissionTableWrap h3 {
    color:#202020;
    font-size:18px;
    font-weight:500;
    padding-bottom:10px;
  
  }
  
  .MissionDocTextbox {
    position:relative;
    width:100%;
    height:50px;
    margin:20px auto;
    background-color:#fbfcfc;
    text-align:center;
    border:1px solid #d7d7d7;
    border-radius:5px;
  
  }
  .MissionDocTextbox p {
    font-size:16px;
    font-weight:500;
    color:#e32228;
    line-height:50px;
  }
  
  .MissionDocbox {
    position:relative;
    width:100%;
    display:block;
    text-align:center;
    margin-top:50px;
  }
  .MissionDocbox .Docboxname {
    display:inline-block;
    font-size:22px;
    font-weight:500; 
    color:#202020; 
    margin-right:50px;
  }
  .MissionDocbox .Docboxbtn {
    display:inline-block;
    background-color:#0c5ea9;
    width:200px;
    height:50px;
    line-height:50px;
    text-align:center;
    color:#fff;
    font-size:16px;
    font-weight:500;
  }
  
.m_delimg {
    display:none;
}
.m_delimg1 {
    display:block;
}

  
  /* agreement */
  .agreement_wrap {
      position: relative;
      width:100%;
      margin-bottom:30px;    
  }
  
  .agreement_wrap h2 {
      font-size:15px;
      font-weight:500;
      line-height: 20px;
      padding:20px 0 10px 0;
  }
  
  .agreement_wrap p {
      font-size:15px;
      font-weight:400;
      line-height:22px;
  }
  
  .membermission_cont {
      position:relative;
      width:100%;
  }
  .membermission_title {
      width:100%;
      margin-top:30px;
  }
  .membermission_title li {
      display:inline-block;
      width:32%;
      margin:20 auto;
      text-align: center;
      box-sizing: border-box;
  }
  
  .membermission_title li > span {
      width:100%;
      display:inline-block;
      background-color:#ddd;
      color:#000;
      text-align:center;
      font-size:14px;
      font-weight:400;
      border-radius:20px;
      padding:5px 15px;
      box-sizing: border-box;
  }
  
  .title_num {
      display:inline-block;
      background-color:#292929;
      border-radius: 30px;
      color:#ffffff;
      font-size:12px;
      width:100%;
      margin-bottom:10px;
  }

  .membermission_title .on{
      display:inline-block;
      background-color:#0c5ea9;
      color:#fff;
  }
  .memebermission_step {
      width:100%;
      font-size:16px;
      font-weight:400;
      margin-top:50px;
      color:#202020;
  }
  .memebermission_step > span {
      background-color:#0c5ea9;
      color:#fff;
      padding:0 10px;
      border-radius: 20px;
      font-size:15px;
      font-weight:400;
  }


/* 서류 제출 */
.missiontable {
    position: relative;
    width:100%;
    border:1px solid #e9e9e8;
    font-size:12px;
    font-weight:400;
    color:#202020;
}

.missiontable th {
    text-align:center;
    background-color:#fff;
    height:60px;
    line-height:60px;
    border:1px solid #e5e5e5;
}

.missiontable td {
    text-align:center;
    height:60px;
    vertical-align: middle;
    border:1px solid #e5e5e5;
    font-size:12px;
}
.missiontable .doctablebtn01 {
    width: 100px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #202020;
    float: right;
    line-height: 40px;
    margin: 10px;
}
.missiontable .doctablebtn02 {
    width: 54px;
    height: 24px;
    background-color: #0062a9;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    float: none;
    line-height: 24px;
    margin: 10px auto;
    display:block;
}
.missiontable .doctablefont01 {
    font-size:12px;
    font-weight:500;
    color:#202020;
}
.missiontable .doctablefont02 {
    font-size:14px;
    font-weight:500;
    color:#0061a9;
}
.missiontable .doctablefont03 {
    font-size:14px;
    font-weight:500;
    color:#e51d25;
}
.missiontable .doctablefont04 {
    font-size:12px;
    font-weight:500;
    color:#0061a9;
    display:block;
    text-align:center;
    margin-left:0px;
}
.missiontable .doctableline {
    line-height:30px;
}

.missiontable .bg01 {
    background-color:#f7f8f8;
}

.mobiledoctitle h3 {
    font-size:16px;
}

.doctableline label {
    display:block;
}


.recruit_table {
  width:100%;
  font-size:12px !important;
  border-collapse:collapse;
}
.recruit_table th {
  padding:2px;
}
.recruit_table td a {
  line-height:20px !important;
}


/* table btn */
.subBtn_Write {position:relative; display:inline-block; background-color:#0c5ea9; z-index:100; margin-bottom:20px;}
.subBtn_Write a {color:#fff; line-height:30px; text-align:center; padding:5px 20px; }

.subBtn_List {position:relative; display:inline-block; background-color:#0c5ea9; z-index:100; margin-bottom:20px;}
.subBtn_List a {color:#fff; line-height:30px; text-align:center; padding:5px 20px;}

.subBtn01 { display:inline-block; background-color:#0c5ea9; color:#fff; line-height:50px; font-size:17px; width:200px; height:50px; }
.subBtn02 { background-color:#0c5ea9; color:#fff !important;  font-size:14px; font-weight:400 !important; }
 




/* board btn */
.boardBtnArea {font-size: 0;text-align: center; margin:30px 0 80px 0;}
.boardBtnArea.type2 {max-width:450px;margin: 0 auto;margin-top: 70px;}
.boardBtnArea.taR {margin-top: 32px;}
.boardBtnArea.col2 > div.boardBtnItem {width: 50%;}
.boardBtnArea > div {display: inline-block;box-sizing:border-box;vertical-align: top;}
.boardBtnArea > div * {display: block; }

.boardBtnArea .btn_box {position:relative; }
.boardBtnArea .btn_box a {display: inline-block;}
.boardBtnArea .btn_box a:hover {color:#fff;}
.btn_style01 {display: inline-block !important;width: 80px;line-height: 38px;font-size: 14px;font-weight: 400;color: #ffffff;box-sizing:border-box;text-align: center; background-color:#989898;}
.btn_style02 {display: inline-block !important;width: 80px;line-height: 38px;font-size: 14px;font-weight: 400;color: #ffffff;box-sizing:border-box;text-align: center; background-color:#025ca9;}
.btn_style03 {display: inline-block !important;width: 80px;line-height: 38px;font-size: 14px;font-weight: 400;color: #333333;box-sizing:border-box;text-align: center; }
.btn_style04 {display: inline-block !important;width: 80px;line-height: 38px;font-size: 14px;font-weight: 400;color: #ffffff;box-sizing:border-box;text-align: center; background-color:#025ca9;}
.btn_style05 {display: inline-block !important;width: 80px;line-height: 38px;font-size: 14px;font-weight: 400;color: #ffffff;box-sizing:border-box;text-align: center; background-color:#025ca9;}
.btn_style06 {display: inline-block !important;width: 80px;line-height: 38px;font-size: 14px;font-weight: 400;color: #ffffff;box-sizing:border-box;text-align: center; background-color:#989898;}



.row {
  margin: 0 auto;
}



.QnaPassbox {
  position:relative;
  width:100%;
  height:100%;
  margin:0 auto;
  box-sizing: border-box;
  padding:30px 15px; 
}
.QnaPassbox_Title {
  font-size:16px;
  font-weight:400;
  color:#9d9d9d;
  padding-bottom:10px;
}
.QnaPassbox_Input {
  position:relative;
  width:100%;
}
.QnaPassbox_Input input {
  width:100%;
  border:1px solid #e5e5e5;
  height:40px;
  padding:10px;
}
.QnaPassbox_Button {
  position:relative;
  width:100%;
  padding-top:30px;
}
.QnaPassbox_Button .Qnapwbtn01 {
  background-color:#065da8;
  width:48%;
  display:inline-block;
  color:#fff;
  font-size:16px;
  font-weight:400;
  text-align:center;
  height:40px;
  line-height:40px;
  float:left;
}
.QnaPassbox_Button .Qnapwbtn02 {
  background-color:#e5e5e5;
  width:48%;
  display:inline-block;
  color:#202020;
  font-size:16px;
  font-weight:400;
  text-align:center;
  height:40px;
  line-height:40px;  
  float:right;
}

#popup01{
  width: 90% !important;
  height: 220px !important;
  position: absolute;
  top: 50%;
  left: 76% !important;
  margin: -250px 0 0 -250px;
  background-color: #fff;
  z-index: 302;
    }


.type_table > div .boardViewTop_item_m strong {width:20%;}

.consult_tit a {
  display: inline-block;
  width: 190px !important; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.consult_w_num {
  width:80px !important;
}


/* 방문 상담 */ 

.VisitTopText {
  position:relative;
  width:100%;
  background-color:#f7f8f8;
  padding:15px 20px; 
  box-sizing: border-box;
}

.VisitTopText p {
  color:#444444;
  font-size:13px;
  font-weight:500;
  padding:2px 0;
}
.visit_text01 {
  font-size:15px;
  font-weight:500;
  color:#222;
  padding:10px 0;
}
.datapaging {
  padding:10px 0;
}
.datapaging {
  font-size:16px;
  font-weight:500;
  color:#333;
}


.VisitPassbox {
  position:relative;
  border:1px solid #e5e5e5;
  width:610px;
  height:240px;
  margin:0 auto;
  box-sizing: border-box;
  padding:40px 60px; 
}
.VisitPassbox_Title {
  font-size:16px;
  font-weight:400;
  color:#9d9d9d;
  padding-bottom:10px;
}
.VisitPassbox_Input {
  position:relative;
  width:100%;
}
.VisitPassbox_Input input {
  width:100%;
  border:1px solid #e5e5e5;
  height:40px;
  padding:10px;
}
.VisitPassbox_Button {
  position:relative;
  width:100%;
  padding-top:30px;
}
.VisitPassbox_Button .visitpwbtn01 {
  background-color:#065da8;
  width:48%;
  display:inline-block;
  color:#fff;
  font-size:16px;
  font-weight:400;
  text-align:center;
  height:40px;
  line-height:40px;
  float:left;
}
.VisitPassbox_Button .visitpwbtn02 {
  background-color:#e5e5e5;
  width:48%;
  display:inline-block;
  color:#202020;
  font-size:16px;
  font-weight:400;
  text-align:center;
  height:40px;
  line-height:40px;  
  float:right;
}








}


/* 414px 이하 */
@media screen and (max-width: 414px){
    



}
