/*a {color:#fff !important}*/
td a {
  color: #428bca !important;
}
.btn-default {
  color: #000 !important;
}
.active a {
  color: #000 !important;
}

.align-right {
  text-align: right !important;
}
.align-center {
  text-align: center !important;
}
.align-left {
  text-align: left !important;
}

#cke_dialog_tabs_110 > a {
  color: #000 !important;
}

.userTable input[type="text"],
.userTable input[type="number"],
.userTable input[type="checkbox"],
.userTable input[type="radio"],
.userTable input[type="file"],
.userTable input[type="password"] {
  padding: 7px 10px;
  border-radius: 5px;
  margin-bottom: 5px !important;
  margin: 5px !important;
  border: 0;
  background-color: #f3f3f3;
  color: #555;
  border: 1px solid #e4e4e4;
}
.userTable select {
  padding: 7px 10px;
  border-radius: 5px;
  margin-bottom: 0px !important;
  margin: 5px !important;
  border: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.userTable textarea {
  padding: 7px 10px;
  width: 95%;
  height: 100px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  background-color: #f3f3f3;
  color: #555;
  border: 1px solid #e4e4e4;
  margin-bottom: 5px !important;
  margin: 5px !important;
}
.userTable tbody tr td {
  padding-left: 10px !important;
}
.langLabel {
  display: block;
  width: 50px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  color: black !important;
}

.wid100p {
  width: 100% !important;
}
.wid95p {
  width: 95% !important;
}
.wid90p {
  width: 90% !important;
}
.wid80p {
  width: 80% !important;
}
.wid75p {
  width: 75% !important;
}
.wid70p {
  width: 70% !important;
}
.wid50p {
  width: 50% !important;
}
.wid30p {
  width: 30% !important;
}
.wid25p {
  width: 25% !important;
}
.modal {
  z-index: 1050 !important;
}

.bf {
  font-weight: bold;
  color: #000;
  padding-left: 20px;
  padding-right: 5px;
}

.row {
  margin-top: 10px;
}

#calendarTable {
  border: 1px !important;
}
#calendarTable tbody tr td {
  height: 150px;
  vertical-align: top !important;
  text-align: right;
}
#calendarTable tbody tr td .date-block {
  font-weight: bold;
  display: block;
}
#calendarTable tbody tr td .schedule-item {
  padding-top: 10px;
  display: block;
}

/** 이력서 **/
.resume_activity_box {
  float: left;
  margin-left: 5px;
}

.resumeJoinBox {
  position: relative;
  width: 100%;
  height: 85px;
  border: 1px solid #e5e5e5;
  padding: 25px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.resumeJoinBoxWider {
  height: 100px;
}

.resumeBox_label {
  margin-bottom: 40px;
}

.box_content {
  display: flex;
}

.resumeViewTable tr td {
  padding-left: 5px !important;
}

.zeropd {padding: 0 0 0 0 !important;}


.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > a, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > a { text-decoration: none; color:#0cb8d0; background-color: transparent; }

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > a b.dropdown-plus, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > a b.dropdown-plus { color:#0cb8d0; }

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > a b.dropdown-plus:before, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > a b.dropdown-plus:before { content: "\f068"; }

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > a:after, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > a:after { background: linear; background: linear; width: 100%; }

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > ul.dropdown-menu, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > ul.dropdown-menu { float: none; position: relative; min-width: 250px; margin: 0; padding: 0; border: none; background: transparent; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-animation-duration: 0.3s; -moz-animation-duration: 0.3s; animation-duration: 0.3s; z-index: 1; }

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > ul.dropdown-menu > li:not(.dropdown) a, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > ul.dropdown-menu > li:not(.dropdown) a { display: inline-block; line-height: 30px; padding: 0 30px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear; font-size: 12px; color:#fff; width: 100%; -webkit-transition: none; -moz-transition: none; transition: none; font-weight: 500; position: relative; }

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > ul.dropdown-menu > li:not(.dropdown) a > i, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > ul.dropdown-menu > li:not(.dropdown) a > i { margin-right: 3px; width: 15px; text-align: center; }

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > ul.dropdown-menu > li:not(.dropdown) a:hover, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > ul.dropdown-menu > li:not(.dropdown) a:hover { background: transparent; color: #418bca; }

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > ul.dropdown-menu > li:not(.dropdown) a .badge, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > ul.dropdown-menu > li:not(.dropdown) a .badge { position: absolute; top: 9px; right: 12px; z-index: 9; font-size: 9px; padding: 2px 4px; }

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > ul.dropdown-menu > li:not(.dropdown) a .label, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > ul.dropdown-menu > li:not(.dropdown) a .label { position: absolute; top: 8px; right: 12px; z-index: 9; font-size: 10px; padding: 3px 5px 2px 5px; }

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > ul.dropdown-menu > li:not(.dropdown).active a, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > ul.dropdown-menu > li:not(.dropdown).active a { background: transparent; color: #418bca; }

.navbar-nav.side-nav > li.navigation .menu > li.dropdown.active > ul.dropdown-menu > li.dropdown a, .navbar-nav.side-nav > li.navigation .menu > li > .dropdown-menu .dropdown.dropdown.active > ul.dropdown-menu > li.dropdown a { line-height: 30px; padding-left: 30px; font-size: 12px; color: rgba(255, 255, 255, 0.9); font-weight: 500; }
